html, body{
	padding: 0;
	margin: 0;
	font-size:10px;
	box-sizing: border-box;
}

body{
	background-color: #70a1ff;
	font-family: "Roboto", sans-serif;
}

.hvr:hover{
  background-color: #f5f6fa;
}

.note{
  background-color: #ffffff;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  left:10%;
  right:10%;
  border:none;
  border-radius: 3px;
  height:270px;
  box-shadow: 1px 1px 11px ;

  display: flex;
  
  justify-content: center;
  text-align:center;
  font-size:1.5rem;
  height:auto;
}

.note img{
  box-sizing: border-box;
  margin-top: 25px;
  height:60px;
}
.note h3{
	color:#1e90ff;
}
.note p{
	color: #a4b0be;
}
.note h4{
	color:#1e90ff;
}


.mobile{
	width:27%;
  transition: background-color 0.8s ease;
  border-radius: 3px;
  margin:8px 0 8px;
  
}
.desktop{
	width:27%;
  transition: background-color 0.8s ease;
  border-radius: 3px;
  margin:8px 0 8px;

}
.tv{
	width:27%;
  transition: background-color 0.8s ease;
  border-radius: 3px;
  margin:8px 0 8px;
}